/* Font for page: font-family: 'Cinzel', serif;
font-family: 'Open Sans', sans-serif;*/

.header {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    font-style: bold;
    text-decoration: overline underline;
}

.container {
    min-height: 100%;
}

body {
    background: linear-gradient(270deg, rgba(34,195,177,1) 0%, rgba(253,45,45,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Cinzel', serif;
}   

.card {
    margin-top: 50pt;
    margin-bottom: 20%;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    
}

.row {
    overflow: auto;
    padding-bottom: 5%;
}

.card-header {
    font-size: larger;
    font-family: 'Cinzel', serif;
    font-style: italic   
}

.card-title {
    font-family: 'Cinzel', serif;
}

.card-body {
    font-family: 'Cinzel', serif;
}




